<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-11 col-md-9 col-lg-6">
      <h2 class="text-center">Service Desk</h2>
      <mat-card class="p-3">
        <mat-card-title class="text-center">Logowanie</mat-card-title>
        <mat-card-content class="mt-3">
          <form class="text-center">
            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input type="email" matInput placeholder="Podaj adres E-mail">
            </mat-form-field>
            <mat-form-field class="mt-3">
              <mat-label>Hasło</mat-label>
              <input type="password" matInput placeholder="Podaj hasło">
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary">Zaloguj się</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
