<h2 mat-dialog-title>Zmiana hasła dla użytkownika {{showUserDetail()}}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="container-fluid">

      <hr>

      <div class="row justify-content-center text-center">
        <mat-form-field>
          <mat-label>Nowe hasło</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error
            *ngIf="changePasswordForm.controls['password'].invalid &&
            changePasswordForm.controls['password'].touched &&
            getErrorPasswordMessage() !== null">
            {{getErrorPasswordMessage()}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row justify-content-center text-center">
        <mat-form-field>
          <mat-label>Potwierdź hasło</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
          <mat-error
            *ngIf="changePasswordForm.controls['confirmPassword'].invalid &&
            changePasswordForm.controls['confirmPassword'].touched &&
            getErrorPasswordConfirmation() !== null">
            {{getErrorPasswordConfirmation()}}
          </mat-error>
        </mat-form-field>
      </div>

      <hr>

      <div class="my-3 text-end">
        <button mat-raised-button color="warn" type="button" (click)="closeDialog()" class="mt-0 mt-2 mt-md-0"><mat-icon>block</mat-icon> Anuluj zmianę hasła</button>
        <button mat-raised-button color="accent" type="submit" class="ms-3 mt-2 mt-md-0" [disabled]="changePasswordForm.invalid"><mat-icon>key</mat-icon> Zmień hasło</button>
      </div>

    </div>
  </form>
</mat-dialog-content>
