<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>person</mat-icon>
      Użytkownicy
    </ng-template>
    <app-users-management></app-users-management>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>groups</mat-icon>
      Grupy wsparcia
    </ng-template>
    <app-support-groups-management></app-support-groups-management>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>category</mat-icon>
      Kategorie
    </ng-template>
    Zarządzanie kategoriami
  </mat-tab>
</mat-tab-group>
