<h2 mat-dialog-title>Dodawanie nowego użytkownika</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="container-fluid">

      <hr>

      <div class="row justify-content-center text-center">
        <mat-form-field>
          <mat-label>Nazwisko</mat-label>
          <input matInput formControlName="surname">
          <mat-error
            *ngIf="registerForm.controls['surname'].invalid &&
            registerForm.controls['surname'].touched &&
            getErrorSurnameMessage() !== null">
            {{getErrorSurnameMessage()}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row justify-content-center text-center">
        <mat-form-field>
          <mat-label>Imię</mat-label>
          <input matInput formControlName="name">
          <mat-error
            *ngIf="registerForm.controls['name'].invalid &&
            registerForm.controls['name'].touched &&
            getErrorNameMessage() !== null">
            {{getErrorNameMessage()}}
          </mat-error>
        </mat-form-field>
      </div>

      <hr>

      <div class="row justify-content-center text-center">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="mail">
          <mat-error
            *ngIf="registerForm.controls['mail'].invalid &&
            registerForm.controls['mail'].touched &&
            getErrorMailMessage() !== null">
            {{getErrorMailMessage()}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row justify-content-center text-center">
        <mat-form-field>
          <mat-label>Numer telefonu</mat-label>
          <input matInput formControlName="phoneNumber">
          <mat-error
            *ngIf="registerForm.controls['phoneNumber'].invalid &&
            registerForm.controls['phoneNumber'].touched &&
            getErrorPhoneNumberMessage() !== null">
            {{getErrorPhoneNumberMessage()}}
          </mat-error>
        </mat-form-field>
      </div>

      <hr>

      <div class="row justify-content-center text-center">
        <mat-form-field>
          <mat-label>Hasło</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error
            *ngIf="registerForm.controls['password'].invalid &&
            registerForm.controls['password'].touched &&
            getErrorPasswordMessage() !== null">
            {{getErrorPasswordMessage()}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row justify-content-center text-center">
        <mat-form-field>
          <mat-label>Potwierdź hasło</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
          <mat-error
            *ngIf="registerForm.controls['confirmPassword'].invalid &&
            registerForm.controls['confirmPassword'].touched &&
            getErrorPasswordConfirmation() !== null">
            {{getErrorPasswordConfirmation()}}
          </mat-error>
        </mat-form-field>
      </div>

      <hr>

      <div class="row justify-content-center">
        <mat-checkbox color="primary" formControlName="userActive">Użytkownik będzie aktywny po rejestracji</mat-checkbox>
        <mat-checkbox color="primary" formControlName="administrator">Użytkownik jest administratorem systemu</mat-checkbox>
        <mat-checkbox color="primary" formControlName="accessAsEmployee">Użytkownik posiada dostęp jako pracownik</mat-checkbox>
      </div>

      <hr>

      <div class="my-3 text-end">
        <button mat-raised-button color="warn" type="button" (click)="closeDialog()"><mat-icon>block</mat-icon> Anuluj dodawanie</button>
        <button mat-raised-button color="primary" type="submit" class="ms-3" [disabled]="!dataIsCorrect()"><mat-icon>person_add</mat-icon> Dodaj użytkownika</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
