<div class="container-fluid container-panel">
  <div class="row row-panel h-100">
    <div class="panel col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 menu">

      <mat-tree class="mt-3" [dataSource]="treeData" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <button mat-icon-button disabled></button>
            <button mat-button (click)="node.action && node.action()">{{node.name}}</button>
          </li>
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node">
            <button class="p-3" mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </div>
          <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </mat-nested-tree-node>
      </mat-tree>
    </div>



    <div class="panel col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10" [ngSwitch]="panel">

      <div class="row mt-3 align-items-stretch" *ngSwitchDefault>

        <div class="col-12 mt-3 d-flex flex-column">
          <mat-card class="flex-grow-1">
            <mat-card-header>
              <mat-card-title>Informacje ogólne</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-3">
              <p>
                W tym panelu możesz zarządzać zgłoszeniami realizowanymi przez siebie oraz swoje grupy.<br>
                Panel boczny pozwala na przeszukiwanie zgłoszeń, notatek oraz zadań.
              </p>
              <p>
                Jeżeli jednak masz potrzebę zarejestrowania własnego zgłoszenia możesz zrobić to z tego poziomu. Nie ma potrzeby przenoszenia się do panelu pracownika.<br>
                W przypadku gdy jesteś analitykiem pierwszej linii wsparcia, rejestracja wszystkich zgłoszeń z poziomu panelu analityka będzie codziennością. Pozwala on na rejestrowanie zgłoszeń dla innych osób.
              </p>
              <p>
                Jeżeli potrzebujesz zanotować sobie informacje ułatwiające pracę, również możesz to zrobić z poziomu panelu analityka. Ułatwi Ci to dostęp do informacji, ponieważ zawsze będą pod ręką.
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-3 d-flex flex-column">
          <mat-card class="flex-grow-1">
            <mat-card-header>
              <mat-card-title>Rejestracja zgłoszenia</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-3">
              <p>W tym miejscu możesz zarejestrować zgłoszenie dla siebie lub innego użytkownika.</p>
              <div class="mt-3">
                <a routerLink="/analyst/ticket/incident/create" class="mx-2 mt-3 mt-lg-2" mat-raised-button><mat-icon>bug_report</mat-icon> Zarejestruj incydent</a>
                <a routerLink="/analyst/ticket/service/create" class="mx-2 mt-3 mt-lg-2" mat-raised-button><mat-icon>support_agent</mat-icon> Zarejestruj wniosek o usługę</a>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-3 d-flex flex-column">
          <mat-card class="flex-grow-1">
            <mat-card-header>
              <mat-card-title>Zadania i notatki</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-3">
              <p>Jeżeli chcesz stworzyć zadanie wewnętrzne, możesz zrobić to w tym panelu</p>
              <p>Dodatkowo możesz tworzyć notatki, które później mogą Ci pomóc w realizacji zadań.</p>
              <div class="mt-3">
                <button *ngIf="this.userIsGroupManager()" (click)="showTaskCreator()" type="button" class="mx-2 mt-3 mt-lg-2" mat-raised-button><mat-icon>task</mat-icon> Utwórz zadanie dla grupy</button>
                <button (click)="createNote()" type="button" class="mx-2 mt-3 mt-lg-2" mat-raised-button><mat-icon>note_alt</mat-icon> Utwórz notatkę</button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-3 d-flex flex-column">
          <mat-card class="flex-grow-1">
            <mat-card-header>
              <mat-card-title>Wyszukiwarka zgłoszeń</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-3">
              <mat-form-field class="search-input">
                <mat-label>Identyfikator zgłoszenia</mat-label>
                <input placeholder="Podaj identyfikator zgłoszenia" matInput type="text" [(ngModel)]="ticketId">
              </mat-form-field>
              <button (click)="findTicket()" [disabled]="ticketId.trim().length < 1" mat-raised-button><mat-icon>search</mat-icon> Wyszukaj zgłoszenie</button>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

      <div *ngSwitchCase="MY_INCIDENT_IN_PROGRESS" class="mt-3">
        <app-ticket-list [title]="'Incydenty w trakcie realizacji'" [ticketsRequest]="getTicketsOfUser('INCIDENT', 'IN_PROGRESS')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="MY_INCIDENT_ON_HOLD" class="mt-3">
        <app-ticket-list [title]="'Incydenty wstrzymane'" [ticketsRequest]="getTicketsOfUser('INCIDENT', 'ON_HOLD')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="MY_INCIDENT_RESOLVED" class="mt-3">
        <app-ticket-list [title]="'Incydenty rozwiązane'" [ticketsRequest]="getTicketsOfUser('INCIDENT', 'RESOLVED')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="MY_SERVICE_REQUEST_IN_PROGRESS" class="mt-3">
        <app-ticket-list [title]="'Wnioski o usługę w trakcie realizacji'" [ticketsRequest]="getTicketsOfUser('SERVICE_REQUEST', 'IN_PROGRESS')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="MY_SERVICE_REQUEST_ON_HOLD" class="mt-3">
        <app-ticket-list [title]="'Wnioski o usługę wstrzymane'" [ticketsRequest]="getTicketsOfUser('SERVICE_REQUEST', 'ON_HOLD')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="MY_SERVICE_REQUEST_RESOLVED" class="mt-3">
        <app-ticket-list [title]="'Wnioski o usługę rozwiązane'" [ticketsRequest]="getTicketsOfUser('SERVICE_REQUEST', 'RESOLVED')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="GROUP_INCIDENT_PENDING" class="mt-3">
        <app-ticket-list [title]="'Incydenty oczekujące na realizację'" [ticketsRequest]="getTicketsOfGroups('INCIDENT', 'PENDING')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="GROUP_INCIDENT_IN_PROGRESS" class="mt-3">
        <app-ticket-list [title]="'Incydenty w trakcie realizacji'" [ticketsRequest]="getTicketsOfGroups('INCIDENT', 'IN_PROGRESS')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="GROUP_INCIDENT_ON_HOLD" class="mt-3">
        <app-ticket-list [title]="'Incydenty wstrzymane'" [ticketsRequest]="getTicketsOfGroups('INCIDENT', 'ON_HOLD')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="GROUP_INCIDENT_RESOLVED" class="mt-3">
        <app-ticket-list [title]="'Incydenty zrealizowane'" [ticketsRequest]="getTicketsOfGroups('INCIDENT', 'RESOLVED')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="GROUP_SERVICE_REQUEST_PENDING" class="mt-3">
        <app-ticket-list [title]="'Wnioski o usługę oczekujące na realizację'" [ticketsRequest]="getTicketsOfGroups('SERVICE_REQUEST', 'PENDING')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="GROUP_SERVICE_REQUEST_IN_PROGRESS" class="mt-3">
        <app-ticket-list [title]="'Wnioski o usługę w trakcie realizacji'" [ticketsRequest]="getTicketsOfGroups('SERVICE_REQUEST', 'IN_PROGRESS')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="GROUP_SERVICE_REQUEST_ON_HOLD" class="mt-3">
        <app-ticket-list [title]="'Wnioski o usługę, których realizacja została wstrzymana'" [ticketsRequest]="getTicketsOfGroups('SERVICE_REQUEST', 'ON_HOLD')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="GROUP_SERVICE_REQUEST_RESOLVED" class="mt-3">
        <app-ticket-list [title]="'Wnioski o usługę, które zostały zrealizowane'" [ticketsRequest]="getTicketsOfGroups('SERVICE_REQUEST', 'RESOLVED')"></app-ticket-list>
      </div>

      <div *ngSwitchCase="NOTES" class="mt-3">
        <app-notes></app-notes>
      </div>

      <div *ngSwitchCase="TASKS_OF_MY_GROUPS" class="mt-3">
        <app-tasks-list (showTaskSet)="showTaskSetDetails($event)"></app-tasks-list>
      </div>

      <div *ngSwitchCase="TASK_SET_CREATOR" class="mt-3">
        <app-task-set-creator></app-task-set-creator>
      </div>

      <div *ngSwitchCase="TASK_SET_DETAILS" class="mt-3">
        <app-task-set-details [taskSetId]="taskSetId"></app-task-set-details>
      </div>

    </div>
  </div>
</div>
