<div class="container-fluid access-information">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h6 class="header">Brak uprawnień!</h6>
      <p class="information">
        Nie posiadasz uprawnień wymaganych do pracy w tym systemie.<br>
        Jeżeli potrzebujesz dostępu skontaktuj się za administratorem systemu.
      </p>
      <button class="logout-button mt-sm-0 mt-md-1" mat-raised-button color="warn" (click)="logout()">Wyloguj się</button>
    </div>
  </div>
</div>
